nav
  ul
    
    li
      a(
      v-link='"about"'
      ) About
      
    li
      a(
      v-link='"started"'
      ) Getting Started
      
    li
      a(
      v-link='"templates"'
      ) Templates
      
    li
      a(
      v-link='"components"'
      ) Components
      
    li
      a(
      v-link='"styles"'
      ) Styles
      
    li
      a(
      v-link='"customize"'
      ) Customize
      
    li
      a(
      v-link='"showcase"'
      ) Showcase
      
    li
      a(
      v-link='"faq"'
      ) FAQ
