footer.docs-text-styling.docs-footer(
class='mdl-mini-footer'
class='mdl-color--grey-900'
)

  ul
    
    li(
    class='mdl-mini-footer--social-btn'
    )
      a.social-btn.social-btn__twitter(
      href="https://twitter.com/googledesign"
      role="button"
      title="Twitter"
      )
      
    li(
    class='mdl-mini-footer--social-btn'
    )
      a.social-btn.social-btn__github(
      href="https://github.com/google/material-design-lite"
      role="button"
      title="GitHub"
      )
      
    li(
    class='mdl-mini-footer--social-btn'
    )
      a.social-btn.social-btn__gplus(
      href="https://plus.google.com/+googledesign"
      role="button"
      title="Google+"
      )
        
  ul.docs-link-list
    
    li
      a(
      class='mdl-color-text--grey-600'
      href="https://developers.google.com/web/starter-kit/"
      ) Web Starter Kit
      
    li
      a(
      class='mdl-color-text--grey-600'
      href="https://github.com/google/material-design-lite/issues"
      ) Help
