.image-preloader
  
.docs-layout(
class='mdl-layout'
class='mdl-js-layout'
)

  
  //- Header
  comp-header
    
  main.docs-layout-content(
  class='mdl-layout__content'
  class='mdl-color-text--grey-600'
  )
    
    #content.content(
    class='mdl-grid.mdl-grid--no-spacing'
    )
      .subpageheader(
      class='mdl-cell--12-col'  
      )
      component(
      :is="compContent"
      )
          
        
      //-{{page.title}}
      //- | {% block content %}
      //- | {{content|safe}}
      //- | {% endblock %}
      
      section.docs-text-styling.download(
      class='mdl-color--grey-800'
      )
        
        a(
        class='mdl-color-text--grey-50'
        ) Download Kit
      
  
  //- Footer
  comp-footer
