nav
  ul
    
    li
      a(
      v-link='"badges"'
      ) Badges
      
    li
      a(
      v-link='"buttons"'
      ) Buttons
      
    li
      a(
      v-link='"cards"'
      ) Cards
      
    li
      a(
      v-link='"layout"'
      ) Layout
    
    li
      a(
      v-link='"loading"'
      ) Loading
    
    li
      a(
      v-link='"menus"'
      ) Menus
      
    li
      a(
      v-link='"sliders"'
      ) Sliders
    
    li
      a(
      v-link='"textfields"'
      ) TextFields
    
    li
      a(
      v-link='"toggles"'
      ) Toggles
      
    li
      a(
      v-link='"tooltips"'
      ) Tooltips
