doctype html
html(lang='en')
  head
    meta(charset='utf-8')
      
    meta(
    http-equiv='X-UA-Compatible'
    content='IE=edge'
    )
    meta(
    name='description'
    content='A front-end template that helps you build fast, modern mobile web apps.'
    )
    meta(
    name='viewport'
    content='width=device-width, initial-scale=1'
    )
    
    title Material Design Lite
    
    
    //- homescreen
    //- Chrome / Android
    //- Safari / iOS
    //- Win8 / Win10
    
    meta(
    name='theme-color'
    content='#263238'
    )
    
    
    //- link(
    //- rel='shortcut icon'
    //- href='./assets/favicon.png'
    //- )
    
    //- Styles
    
    //- Fonts
    link(
    href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en"
    rel="stylesheet"
    type="text/css"
    )
    link(
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
    )
    
  body
    #app
      router-view
        
        
  //- script(src='dist/build.js')
